
html {
  cursor: url(../images/smiley.png),auto;
  background-image: url(../images/sur8.gif);
  background-size: cover;


}

.level-1 .board {
  max-width: 900px;
  margin: 0px 10px 0 20px;
  width: 70%;

}

.level-2 .board {
  max-width: 1200px;
  margin: 0 10px 0 10px;
  width: 90%;

}

h1{
  color: #efb6e2;
  font-family: flavors, sans-serif;
  font-size: 100px;
  text-align: center;

}

#splash {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: green;
  background-image: url(../images/sur4.gif);
  background-size: cover;

}
#splash h2 {
text-align: center;
font-size: 70px;
color: black;
background-color: white;
font-family: megrim, fantasy;
}
.blink {
    animation: blinker 1s linear infinite;
    font-size: 30px;
    margin: 0 35%;
    font-family: megrim, fantasy;
    text-align: center;
    background-color: white;
    color: black;
  }

@keyframes blinker {
  50% { opacity: 0; }
}

#controls {
  text-align: center;
}

#sidebar {
  color: #efb6e2;
  font-family: wire-one, sans-serif;
  font-size: 40px;
  border: 5px dash #efb6e2;
  float: left;
  list-style: none;
  margin-right: 25px;

}

#message {
  font-size: 50px;
  color:#444547;
  margin: 40px 250px  40px 0;
  font-family: wire-one, sans-serif;
  float: right;
}

#message .win {
  font-family: megrim, fantasy;

}
.board{
  display: block;
  height: 80%;
  width: 100%;
  max-width: 1111px;
  margin: 0 25px 0 20px;
  overflow: hidden;
  width: 90%;

}

.card {
  perspective: 1000px;
  z-index: 10;
  float: right;
  height: 160px;
  width: 140px;
  border-radius: 10px;
  margin:0 10px 10px 0;
}
.card .flipper {
  border: 1px solid #000;
  border-radius: 10px;
}
.card .front {
  background: #fff;
  height: 100%;
  width: 100%;
  z-index: 2;
  transform: rotateY(180deg);
}
.card .back {
  transform: rotateY(0deg);
  background: url(../images/im0.jpg) no-repeat;
  background-size:contain;
}
.card .front, .card .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
}
.card .flipper {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
  width: 100%;
}
.card.flipped .flipper {
  transform: rotateY(180deg);
}
.card:nth-child(5) {
  clear: left;
}
.card img {
  width: 100%;
  height: 100%;

}
.name {
  color: #F56991;

}
span{
  color:red;
}

#message .levelup {
  font-size: 100px;
  font-weight: bold;
  color: #efb6e2;
  background-image: url(../images/newlevel.gif);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: right center;
  margin-left: 200px;
  margin-right: 80px;
  padding: 30px;
  padding-right: 250px;
  float: right;
}

.win {
  background-image: url(../images/newlevel.gif);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: right center;
  margin-left: 200px;
  margin-right: 80px;
  padding: 30px;
  padding-right: 250px;
  float: right;
}

}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

.grid {
  width: 1111px;
  margin: 0 0 60px 0 auto;
  padding: 0;
  list-style: none;
}

.grid li {
  width: 50px;
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
}

  #confetti {
    background: transparent;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

.hidden {
  display: none;
  visibility: hidden;

}


/*/////////////  GAME 2 ///////////////////////////////*/
